<% provide(:title, "Home") %>
<h1>PrivateEvents</h1>
<p>
  <img class ="img" src="/assets/event.png" alt="events" />
  This is the home page for the
  <a href="#">Private event</a>
  sample application.
</p>