<h1>All users</h1>
<% @user.each do |u| %>
   
      <span class="badge badge-light">Name:</span> <%= u.name %><br>
       <span class="badge badge-light">Email:</span><%= u.email %><br>
   
   <span class="badge badge-light">Created:</span><%= pluralize(u.events.count, "event") if u.events %>
   <hr>
   <%= link_to 'Show',user_path(u) ,class: "btn btn-primary" %>
<% end %>