
<h1>My profile</h1>
<br>
<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>

<h2>Events</h2>

<%= render 'shared/list_events', {events: @user.upcoming_events, type: 'upcoming'} %>
        
<%= render 'shared/list_events', {events: @user.past_events, type: 'past'} %> 
