
   <% obj.each do |event| %>
   
       <h4>Title:</h4><%= event.title %>
       <h4>Description</h4><%= event.description %>
       <h4>Location</h4><%= event.location %>
       <h4>Date</h4><%= event.date %>
   
   <% end %>