
<div class="container-fluid">

<h1>All Events</h1>
  <div class="row">
    <div class="col-xs-6">
      <h2> Upcoming Events</h2>
      <%= render 'events', obj: @upcoming_events %>
      <%= yield %>
    </div>
    <div class="col-xs-6">
      <h2> Past Events</h2>
      <%= render 'events', obj: @past_events %>
    </div>
  </div>
</div>
