<h1>All Events</h1>
<div class = "upcoming-events">
    <h2>Upcoming Events</h2>
   <%= render 'events', obj: @upcoming_events %>
</div>
<div class = "past-events">
    <h2>Past Events</h2>
   <%= render 'events', obj: @past_events %>
</div>
